C:/Users/user/OneDrive[[:space:]]-[[:space:]]Ministere[[:space:]]de[[:space:]]l'Enseignement[[:space:]]Superieur[[:space:]]et[[:space:]]de[[:space:]]la[[:space:]]Recherche[[:space:]]Scientifique/Bureau/detection[[:space:]]anamolies/creditcard.csv filter=lfs diff=lfs merge=lfs -text
